<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <link rel="stylesheet" media="all" href="static/main.css">
  <script src="static/jquery-3.6.0.min.js"></script>
  <script src="static/motorscript.js?7"></script>

  <title>BeagleBone Robot Control Panel</title>
</head>

<body onload="init();">

  <div id="container">

    <h1>BeagleBone Control Panel</h1>
    <img id="joystick" src="/static/KiMBot.png" alt="KiMBot image" />
    <div id="display"></div>
    <button onclick="setMotors(0,0);">Stop all Motors</button>
  </div>


</html>